<nav class="navbar fixed-top bc-grey">
  <div class="container-fluid">
    <div class="navbar-brand navbar-light">
      <a routerLink="../" class="float-left text-black">
        <i class="fas fa-chevron-left"></i>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <a routerLink="./" class="text-grey">
        Widget Edit
      </a>
    </div>
    <a (click)="onEditWidget()" style="cursor: pointer" class="text-black">
      <i class="fas fa-check"></i>
    </a>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        name="widgetName"
        placeholder="{{ widget.name }}"
        [(ngModel)]="newWidgetName">
    </div>
    <div class="form-group">
      <label>Text</label>
      <input
        type="text"
        class="form-control"
        name="widgetText"
        placeholder="{{ widget.text }}"
        [(ngModel)]="newWidgetText">
    </div>
    <div class="form-group">
      <label>URL</label>
      <input
        type="url"
        class="form-control"
        name="widgetURL"
        placeholder="{{ widget.url }}"
        [(ngModel)]="newWidgetURL">
    </div>
    <div class="form-group">
      <label>Width</label>
      <input
        type="text"
        class="form-control"
        name="widgetWidth"
        placeholder="{{ widget.width }}"
        [(ngModel)]="newWidgetWidth">
    </div>
  </form>
  <form ngNoForm action="{{ baseUrl }}/api/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label>Upload</label>
      <div class="file-upload">
        <input type="file"
               id="avatar" name="avatar"
               accept="image/png, image/jpeg">
      </div>
    </div>
    <input name="widgetId" value="{{ widgetId }}" style="display: none;">
    <input name="websiteId" value="{{ websiteId }}" style="display: none;">
    <input name="pageId" value="{{ pageId }}" style="display: none;">
    <input name="userId" value="{{ userId }}" style="display: none;">
    <button class="btn btn-primary btn-block" type="submit">Upload Image</button>
    <br>
    <a class="btn btn-primary btn-block "
       [routerLink]="['/user/'+userId+'/website/'+websiteId+'/page/'+pageId+'/widget/'+widgetId+'/flickr']" >Choose From Flickr</a>
    <button *ngIf="editFlag" class="btn btn-danger btn-block" (click)="onDelete()" type="button">Delete</button>
  </form>
</div>

<nav class="navbar fixed-bottom bc-grey">
  <div class="container-fluid">
    <div class="ml-auto">
      <a [routerLink]="['/user']" class="text-blue float-right">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>
