<div class="container">
  <h1>Register</h1>
  <form
    (ngSubmit)="onRegister()"
    #form='ngForm'>
    <div class="form-group">
      <input
        type="text"
        name="username"
        class="form-control"
        placeholder="username"
        [(ngModel)]="regUsername"
        required
        #username="ngModel">
      <span
        class="help-block"
        *ngIf="!username.valid && username.touched">
        Please enter a valid username
      </span>
    </div>
    <div class="form-group">
      <input
        type="password"
        name="password"
        class="form-control"
        placeholder="password"
        [(ngModel)]="regPassword"
        required
        #password="ngModel">
      <span
        class="help-block"
        *ngIf="!password.valid && password.touched">
        Please enter a valid password
      </span>
    </div>
    <div class="form-group">
      <input
        type="password"
        name="verifiedPassword"
        class="form-control"
        placeholder="verify password"
        [(ngModel)]="regVerifiedPassword"
        required
        #verifiedPassword="ngModel">
      <span
        class="help-block"
        *ngIf="(regPassword !== regVerifiedPassword || !verifiedPassword.valid) && verifiedPassword.touched">
        Please enter the same password
      </span>
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary btn-block"
        type="submit"
        [disabled]="!form.valid || regPassword !== regVerifiedPassword">
        Register
      </button>
    </div>
    <div class="form-group">
      <a class="btn btn-danger btn-block" (click)="onCancel()">Cancel</a>
    </div>
  </form>
</div>
